﻿@using MeetUp.Models;
@model MeetUp.Models.ViewModels.Course.AddCourseViewModel
@{
    ViewBag.Title = "Add Course";
    //MeetUp.Models.ViewModels.Course.AddCourseViewModel[] CoursesInDatabase =

}

<h2>Add Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group text-danger">
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            <label for="SubjectCode" class="control-label col-md-2">Subject Code: </label>
            <div class="col-md-10">
                <select class="form-control" id="SubjectCode" name="SubjectCode" onchange="getTheReturnForSubjectCode()">
                    <option selected="selected" value=""></option>@*blank option is the first option*@
                    @foreach (var subject in Model.Courses.Select(c => c.SubjectCode).Distinct().OrderBy(s => s))
                    {
                        <option value="@subject">@subject</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="CourseNumber" class="control-label col-md-2">Course Number: </label>
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.CourseNumber, new { @class = "form-control" })*@
                <select class="form-control" id="CourseNumber" name="CourseNumber" onchange="getReturnForCourseSection()">
                    <option selected="selected" value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="CourseSection" class="control-label col-md-2">Course Section: </label>
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.CourseSection, new { @class = "form-control" })*@
                <select class="form-control" id="CourseSection" name="CourseSection">
                    <option selected="selected" value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "Home")">Back to Home Page</a>
</div>


<script>
    //called when the subject is selected, populates the course number drop down
    function getTheReturnForSubjectCode() {
        var e = document.getElementById("SubjectCode");
        var strSubjectCode = e.options[e.selectedIndex].text;
        var arrayOfCourseNumbers = returnListOfValidCourseNumbers(window.courses, strSubjectCode);
        arrayOfCourseNumbers = distinct(arrayOfCourseNumbers);
        var stringOfOptions = "<option selected='selected' value=''></option>";
        for (var i = 0; i < arrayOfCourseNumbers.length; i++) {
            stringOfOptions = stringOfOptions + "<option value='" + arrayOfCourseNumbers[i] + "'>" + arrayOfCourseNumbers[i] + "</option>"
        }
        //alert(JSON.stringify(returnListOfValidCourseNumbers(window.courses, strSubjectCode)))
        //alert(stringOfOptions)

        var courseNumberDisplay = document.getElementById("CourseNumber");
        courseNumberDisplay.innerHTML = stringOfOptions;
        var courseSectionDisplay = document.getElementById("CourseSection");
        courseSectionDisplay.innerHTML = "<option selected='selected' value=''></option>";//clear the section dropdown
        return stringOfOptions;
    }
    //called when the course number is selected, populates the course section drop down
    function getReturnForCourseSection() {
        var e = document.getElementById("SubjectCode");
        var e2 = document.getElementById("CourseNumber");
        var strSubjectCode = e.options[e.selectedIndex].text;
        var strCourseNumber = e2.options[e2.selectedIndex].text;
        //var strSubjectCode = e.value;
        var arrayOfSections = returnListOfValidSections(window.courses, strSubjectCode, strCourseNumber);
        arrayOfSections = distinct(arrayOfSections);
        var stringOfOptions = "<option selected='selected' value=''></option>";
        for (var i = 0; i < arrayOfSections.length; i++) {
            stringOfOptions = stringOfOptions + "<option value='" + arrayOfSections[i] + "'>" + arrayOfSections[i] + "</option>"
        }
        //alert(JSON.stringify(returnListOfValidCourseNumbers(window.courses, strSubjectCode)))
        //alert(stringOfOptions)

        var courseNumberDisplay = document.getElementById("CourseSection");
        courseNumberDisplay.innerHTML = stringOfOptions;
        return stringOfOptions;
    }
    //returns the corresponding sections for the selected subject and course
    function returnListOfValidSections(courses, subjectCode, courseNumber) {
        var returnList = []
        for (var i = 0; i < courses.length; i++) {
            if (courses[i].subject == subjectCode && courses[i].courseNumber == courseNumber) {
                returnList.push(courses[i].sectionNumber)
            }
        }
        return returnList;
    }
    //returns the corresponding courses for the selected subject
    function returnListOfValidCourseNumbers(courses, subjectCode) {
        var returnList = []
        for (var i = 0; i < courses.length; i++) {
            if (courses[i].subject == subjectCode) {
                returnList.push(courses[i].courseNumber)
            }
        }
        return returnList;
    }
    //takes a generic string and removes the duplicates
    function distinct(arr) {
        items = {};
        for (var i = 0; i < arr.length; i++) {
            if (!(arr[i] in items)) {
                items[arr[i]] = true;
            }
        }
        out = [];
        for (item in items) {
            out.push(item);
        }
        out.sort();
        return out;
    }
</script>

<script type="text/javascript">
    window.courses = [
        @foreach (Course c in Model.Courses)
        {
            @:{ subject: '@c.SubjectCode', courseNumber: '@c.CourseNumber', sectionNumber: '@c.CourseSection' },
        }
        @*goal: {subject:'CSCI',courseNumber:'1250',sectionNumber:'001'}*@
    ];
</script>

@*<script src="~/Scripts/dynamicDropdownsOnAddCourse.js"></script>*@