﻿@model MeetUp.Models.ViewModels.Course.RemoveCourseViewModel
@{
    ViewBag.Title = "Remove Course";
}

<h2>Remove Course</h2>

<h3>Are you sure you want to delete this course?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            Subject Code:
        </dt>

        <dd>
            @Model.Course.SubjectCode
        </dd>

        <dt>
            Course number:
        </dt>

        <dd>
            @Model.Course.CourseNumber
        </dd>

        <dt>
            Course section:
        </dt>

        <dd>
            @Model.Course.CourseSection
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.Schedule.ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index", "Home")">Back to Home Page</a>
        </div>
    }
</div>