﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <img class="img-responsive center-block" src="~/Content/MeetUpLogo.png" alt="Logo" />
    @if (Request.IsAuthenticated)
    {
        <p class="text-center">
            Hello, @(User.Identity.GetUserName()).
        </p>
    }
    else
    {
        <p class="text-center">
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register</a>
            <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg">Log in</a>
        </p>
    }
</div>
