﻿@model MeetUp.Models.ViewModels.Home.UserHomeViewModel

@using Microsoft.AspNet.Identity;
@using MeetUp.Models;
@{
    ViewBag.Title = "Home";

    int numAccepted = Model.MatchingSchedules.Where(s => Model.Acceptance[s]).Count();
}



@helper MatchingCoursesList(Schedule s)
{
    <ul>
        @foreach (Course c in Model.MatchingCourses[s]
                .OrderBy(c => c.SubjectCode).ThenBy(c => c.CourseNumber).ThenBy(c => c.CourseSection))
        {
            <li>@c.SubjectCode @c.CourseNumber-@c.CourseSection</li>
        }
    </ul>
}



<h2 class="page-header">Home</h2>

<p>
    Hello, @(User.Identity.GetUserName()).
</p>

<div class="row">
    @* Suggestions list *@
    <div class="col-md-6">
        <h3>Meetup suggestions</h3>
        @foreach (Schedule s in Model.MatchingSchedules
                .Where(s => !Model.Acceptance[s])
                .OrderByDescending(s => Model.Compatibility[s]))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline;">@Model.UserNames[s]</h3>
                    <div style="display:inline;">
                        @string.Format("(compatibility: {0:0}%)", Model.Compatibility[s] * 100)
                    </div>
                </div>
                <div class="panel-body">
                    @MatchingCoursesList(s)
                </div>
                <div class="panel-footer">
                    @if (!Model.Pending[s])
                    {
                        using (Html.BeginForm("Accept", "Suggestion", FormMethod.Post, new { style = "display:inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("user2", s.UserID)
                            <button type="submit" class="btn btn-success">Accept</button>
                        }
                        using (Html.BeginForm("Deny", "Suggestion", FormMethod.Post, new { style = "display:inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("user2", s.UserID)
                            <button type="submit" class="btn btn-danger">Deny</button>
                        }
                    }
                    else
                    {
                        @:Waiting for a response...
                    }
                </div>
            </div>
        }
    </div>

    @* Accepted list *@
    @if (numAccepted > 0)
    {
        <div class="col-md-6">
            <h3>Accepted</h3>
            @foreach (Schedule s in Model.MatchingSchedules
                    .Where(s => Model.Acceptance[s])
                    .OrderBy(s => Model.UserNames[s]))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Model.UserNames[s]
                        @MatchingCoursesList(s)
                    </div>
                </div>
            }
        </div>
    }
</div>
