﻿@model MeetUp.Models.ViewModels.Schedule.EditScheduleViewModel

@using MeetUp.Models;
@{
    ViewBag.Title = "Edit Schedule";
}

<h2>Edit Schedule</h2>

<table class="table table-condensed table-responsive">
    <tr><th>Subject</th><th>Course</th><th>Section</th><th></th></tr>
    @foreach (Course course in Model.Courses.OrderBy(c => c.SubjectCode).ThenBy(c => c.CourseNumber))
    {
        <tr>
            <td>@course.SubjectCode</td>
            <td>@course.CourseNumber</td>
            <td>@course.CourseSection</td>
            <td>@Html.ActionLink("Remove", "Remove", "Course", new { courseID = course.UID, scheduleID = Model.Schedule.ID }, null)</td>
        </tr>
    }
</table>

<p>@Html.ActionLink("Add Course", "Add", "Course", new { scheduleID = Model.Schedule.ID }, new { @class = "btn btn-success" })</p>
